// 带参数的样式混合宏
// 封装可复用的样式逻辑，通过传入「侧边栏宽度（$sideBarWidth）」动态生成关联样式
@mixin merge-style($sideBarWidth) {
  .main-container {
    position: relative;
    height: 100vh;
    min-height: 100%;
    margin-left: $sideBarWidth;
    background: #0066ff;
  }

  .sidebar-container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1001;
    width: $sideBarWidth !important;
    height: 100%;
    overflow: visible;
    font-size: 0;
    background: #0dff00 !important;
    border-right: 1px solid #920505;
  }
}

body {
  $sideBarWidth: 210px;

  @include merge-style($sideBarWidth);
}
